[Unit]
Description=ScanAlbum
After=network.target

[Service]
ExecStart=/usr/local/bin/python3.8 -u /opt/ScanAlbum/scan.py --daemon
Restart=always
User=root
Group=root
Environment=PATH=/bin:/usr/bin:/usr/local/bin:/home/pi/.local/bin
WorkingDirectory=/opt/ScanAlbum

[Install]
WantedBy=multi-user.target
