aiohttp==3.6.2
astroid==2.4.1
async-timeout==3.0.1
attrs==19.3.0
cachetools==4.1.0
certifi==2020.4.5.2
chardet==3.0.4
google-api-core==1.19.1
google-auth==1.16.1
google-cloud-texttospeech==2.0.0
googleapis-common-protos==1.52.0
grpcio==1.29.0
idna==2.9
isort==4.3.21
lazy-object-proxy==1.4.3
libcst==0.3.6
mccabe==0.6.1
multidict==4.7.6
mypy-extensions==0.4.3
proto-plus==0.4.0
protobuf==3.12.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pylint==2.5.2
pytz==2020.1
PyYAML==5.4
requests==2.23.0
RPi.GPIO==0.7.0
rsa==4.0
six==1.15.0
toml==0.10.1
typed-ast==1.4.1
typing-extensions==3.7.4.2
typing-inspect==0.6.0
urllib3==1.25.9
wrapt==1.12.1
yarl==1.4.2
