[Unit]
Description=AudioServer
After=network.target

[Service]
ExecStart=/usr/bin/python -m http.server --directory /var/www/html 80 
Restart=always
User=root
Group=root
Environment=PATH=/usr/bin:/usr/local/bin
WorkingDirectory=/opt/ReadKey

[Install]
WantedBy=multi-user.target
